body{
    background: #f5f5f5;
}

.jd-topBar{
    position: static;
}

/*安全提示*/
.jd-safeTip{
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    color: #686868;
}

.jd-safeTip p{
    padding-left: 25px;
    display: inline-block;
    position: relative;
}
.jd-safeTip p::before{
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: url("../images/safe_icon.png") no-repeat;
    background-size: 18px 18px;
    position: absolute;
    left: 0;
    top: 8px;
}

/*公共复选框*/
.jd-check-box{
    height: 20px;
    width: 20px;
    display: block;
    background: url("../images/shop-icon.png") no-repeat;
    background-size: 50px 100px;
    background-position: 0 0;
}
.jd-check-box[checked]{
    background-position: -25px 0;
}

/*商品*/
.jd-shop{
    margin-top: 10px;
    background: #fff;
}

.jd-shop .jd-shop-title{
    height: 36px;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}
.jd-shop .jd-shop-title .jd-check{
    width: 40px;
    height: 35px;
    position: absolute;
}
.jd-shop .jd-shop-title .jd-check .jd-check-box{
    position: absolute;
    top: 7px;
    left: 10px;
}

.jd-shop .jd-shop-title .title-name{
    padding-left: 40px;
}
.jd-shop .jd-shop-title .title-name .imgLogo{
    width: 15px;
    height: 13px;
    display: block;
    float: left;
    margin-top: 10px;
}
.jd-shop .jd-shop-title .title-name .name{
    float: left;
    font-size: 13px;
    margin-top: 8px;
    margin-left: 4px;
}
.jd-shop .jd-shop-title .title-name .tip{
    float: right;
    color:#d8505c;
    margin-right: 10px;
    margin-top: 8px;
}

.jd-shop .jd-shop-content{
    border-bottom: 1px solid #e0e0e0;
    position: relative;
}
.jd-shop .jd-shop-content .con-check{
    position: absolute;
    width: 40px;
    top: 0;
    left: 0;
}
.jd-shop .jd-shop-content .con-check .jd-check-box{
    position: absolute;
    top: 20px;
    left: 10px;
}
.jd-shop .jd-shop-content .con-product{
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.jd-shop .jd-shop-content .con-product .con-product-img{
    float: left;
    width: 89px;
    height: 89px;
    display: block;
    margin-right: 10px;
    position: absolute;
}
.jd-shop .jd-shop-content .con-product .con-product-img img{
    width: 100%;
    height: 100%;
    display: block;
}
.jd-shop .jd-shop-content .con-product .con-product-box{
    padding-left: 100px;
}
.jd-shop .jd-shop-content .con-product .con-product-box .name{
    height: 30px;
    line-height: 15px;
    font-size: 13px;
    overflow: hidden;
    display: block;
}
.jd-shop .jd-shop-content .con-product .con-product-box .option{
    width: 100%;
    height: 24px;
}
.jd-shop .jd-shop-content .con-product .con-product-box .option .price{
    float: left;
    margin-top: 5px;
    color:#f23030;
}
.jd-shop .jd-shop-content .con-product .con-product-box .option .change-box{
    float: right;
}
.jd-shop .jd-shop-content .con-product .con-product-box .option .change-box .change-box-left{
    width: 25px;
    height: 24px;
    border: 1px solid #e0e0e0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    text-align: center;
}
.jd-shop .jd-shop-content .con-product .con-product-box .option input{
    width: 34px;
    height: 24px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    float: left;
}
.jd-shop .jd-shop-content .con-product .con-product-box .option .change-box .change-box-right{
    width: 25px;
    height: 24px;
    border: 1px solid #e0e0e0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    text-align: center;
}
.jd-shop .jd-shop-content .con-product .con-product-box .edit{
    width: 100%;
    height: 14px;
    margin-bottom: 10px;
}
.jd-shop .jd-shop-content .con-product .con-product-box .edit span{
    display: block;
    float: right;
    padding-right: 10px;
    font-size: 12px;
    margin-top: 10px;
    line-height: 13px;
}
.jd-shop .jd-shop-content .con-product .con-product-box .edit span::before{
    content: " ";
    display: block;
    float: left;
    width: 0;
    height: 13px;
    border: 1px solid #e3e5e9;
    margin-right: 10px;
}

/*结算*/
.jd-amount{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: #fff;
}
.jd-amount .amount-check{
    position: absolute;
    width: 80px;
    line-height: 50px;
}
.jd-amount .amount-check span{
    padding-left: 35px;
    color:#232326;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
.jd-amount .amount-check .jd-check-box{
    position: absolute;
    top: 15px;
    left: 10px;
}
.jd-amount .amount-info{
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 98px;
    height: 50px;
    color: #fff;
}
.jd-amount .amount-info .sum{
    font-size: 16px;
    color: #232326;
    font-weight: bold;
}
.jd-amount .amount-info .other{
    font-size: 12px;
    color: #4f4f51;
}
.jd-amount .amount-submit{
    height: 50px;
    width: 98px;
    padding: 0 2px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #f23030;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
}
.jd-amount .amount-submit span{
    font-size: 12px;
}