.jd-layout{
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}

/*搜索头部*/
.jd-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 999;
}

.jd-header .jd-header-box{
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    background: rgba(201,21,35,0.15);
    height: 40px;
}

.jd-header .jd-header-box .icon-logo{
    background-position: 0 -103px;
    width: 60px;
    height: 36px;
    display: block;
    position: absolute;
    top: 4px;
    left: 10px;
}

.jd-header form{
    width: 100%;
    height: 30px;
    padding-left: 75px;
    padding-right: 55px;
    position: relative;
}

.jd-header form .icon-search{
    background-position: -60px -109px;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 10px;
    left: 85px;
}
.jd-header form input{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    margin-top: 5px;
    padding-left: 30px;
}
.jd-header .login{
    width: 50px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    color:#fff;
    position: absolute;
    top: 0;
    right: 0;
}
/*轮播图*/
.jd-banner{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.jd-banner ul:first-child{
    width: 800%;
}

.jd-banner ul:first-child li{
    width: 12.5%;
    float: left;
}

.jd-banner ul:first-child li img{
    width: 100%;
    display: block;
}

.jd-banner ul:last-child{
    width: 118px;
    height: 6px;
    position: absolute;
    left: 50%;
    margin-left: -59px;
    bottom:10px;
}

.jd-banner ul:last-child li{
    width: 6px;
    height: 6px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-left: 10px;
    float: left;
}
.jd-banner ul:last-child li:first-child{
    margin-left: 0;
}
.jd-banner ul:last-child li.now{
    background: #fff;
}

.item img{
    width: 100%;

}

/*导航栏*/
.jd-nav{
    width: 100%;
    height: 189px;
    background: rgb(243,243,243);
    padding-top: 20px;
}
.jd-nav ul{
    width: 100%;
}
.jd-nav ul li{
    float: left;
    width: 20%;
    height: 84.5px;
}
.jd-nav ul li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.jd-nav ul li a img{
    display: block;
    width: 38px;
    height: 38px;
    margin: 0 auto;
}
.jd-nav ul li a p{
    font-size: 12px;
    /*margin-top: 6px;*/
}

/*秒杀*/
.jd-kill{
    width: 100%;
    height: 34px;
    padding-bottom: 5px;
}
.jd-kill .kill-left{
    float: left;
}
.jd-kill .kill-left span.sk-icon{
    float: left;
    background: url("../images/secondkill.png") no-repeat;
    background-size: 69px 27px;
    width: 69px;
    height: 27px;
    display: block;
    margin-right: 5px;
}
.jd-kill .kill-left strong{
    display: block;
    float: left;
    padding-top: 5px;
}
.jd-kill .kill-left .sk-time{
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}
.jd-kill .kill-left .sk-time .num{
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    text-align: center;
    margin-left: 3px;
    line-height: 15px;
    border: 1px solid #dfdfdf;
}
.jd-kill .kill-left .sk-time .str{
    display: block;
    float: left;
    width: 4px;
    height: 15px;
    text-align: center;
    margin-left: 3px;
    line-height: 15px;
}
.jd-kill .kill-right{
    float: right;
}

.jd-kill .kill-right a{
    line-height: 34px;
    font-size: 10px;
    margin-right: 10px;
    color: #f23030;
}

.jd-product-list{
    width: 100%;
}
.jd-product-list ul li{
    float: left;
    width: 33.333%;
}
.jd-product-list ul li a .img-box{
    width: 100%;
    border-right: 1px solid #e0e0e0;
}
.jd-product-list ul li:last-child a .img-box{
    border-right: none;
}
.jd-product-list ul li a .img-box img{
    width: 64%;
    display: block;
    margin: 0 auto;
}
.jd-product-list ul li .jd-new-price{
    margin-top: 11px;
    display: block;
    color: #f23030;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    text-align: center;
    font-weight: bold;
}
.jd-product-list ul li .jd-old-price{
    font-size: 12px;
    text-decoration: line-through;
    margin-top: 3px;
    text-align: center;
    color: #888;
}
/*商品分类*/
.jd-categories{
    width: 100%;
}
.jd-categories .jd-cate-top{
    display: block;
    overflow: hidden;
    width: 100%;
}
.jd-categories .jd-cate-list{
    width: 100%;
}
.jd-categories .jd-cate-list ul{
    width: 100%;
}
.jd-categories .jd-cate-list ul li{
    display: block;
    float: left;
    width: 50%;
}
.jd-categories .jd-cate-list ul li a{
    width: 100%;
}
.jd-categories .jd-cate-list ul li a img{
    width: 100%;
}
.jd-categories .jd-cate-middle{
    width: 100%;
}.jd-categories .jd-cate-middle,
 .jd-categories .jd-cate-middle ul,{
    width: 100%;
 }
.jd-categories .jd-cate-middle ul li{
    display: block;
    float: left;border: 1px solid rgb(214,66,34);
    width: 25%;
}
.jd-categories .jd-cate-middle ul li a{
    width: 100%;
}
.jd-categories .jd-cate-middle ul li a img{
    width: 100%;
}